<beans:beans xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:sec="http://www.springframework.org/schema/security" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns:context="http://www.springframework.org/schema/context"
             xmlns:http="http://www.springframework.org/schema/security"
             xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd           
           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd
           http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.1.xsd">

    <beans:bean name="webConfig" class="co.silbersoft.anchor.config.WebConfig" />
    <sec:http pattern="/resources/**" security="none" />    
    <sec:http auto-config="true" use-expressions="true">
        <sec:form-login login-page="/login"
                        authentication-failure-url="/login?error=authFailed" />
        <sec:remember-me key="98jeij01101SdfiwA1294)" data-source-ref="dataSource" />               
        <sec:intercept-url pattern="/**" method="GET" access="permitAll" />
        <sec:intercept-url pattern="/settings" method="GET" access="hasRole('Administrator')" />
        <sec:intercept-url pattern="/settings" method="POST" access="hasRole('Administrator')" />
        <sec:logout logout-success-url="/" />
    </sec:http>

    <sec:authentication-manager>
        <sec:authentication-provider >
            <sec:jdbc-user-service data-source-ref="dataSource" /> 
            <sec:password-encoder ref="passwordEncoder">
                <sec:salt-source ref="saltSource" />
            </sec:password-encoder>
        </sec:authentication-provider>
    </sec:authentication-manager>

    <beans:bean id="passwordEncoder"
                class="org.springframework.security.authentication.encoding.ShaPasswordEncoder">
        <beans:constructor-arg value="256" />
        
    </beans:bean>

    <beans:bean id="saltSource" class="org.springframework.security.authentication.dao.ReflectionSaltSource">
        <beans:property name="userPropertyToUse" value="username" />
    </beans:bean>

    <sec:global-method-security pre-post-annotations="enabled" />
        
</beans:beans>
